:root {
  --hyperfly-font: "Manrope", sans-serif;
  --hyperfly-heading-font: "Inter", sans-serif;
  --hyperfly-text: #566879;
  --hyperfly-text-rgb: 86, 104, 121;
  --hyperfly-text-dark: #6e6b70;
  --hyperfly-text-dark-rgb: 110, 107, 112;
  --hyperfly-base: #E11617;
  --hyperfly-base-rgb: 225, 22, 23;
  --hyperfly-base2: #EB6253;
  --hyperfly-base2-rgb: 235, 98, 83;
  --hyperfly-gray: #F3F4F8;
  --hyperfly-gray-rgb: 243, 244, 248;
  --hyperfly-white: #fff;
  --hyperfly-white-rgb: 255, 255, 255;
  --hyperfly-black: #030D17;
  --hyperfly-black-rgb: 3, 13, 23;
  --hyperfly-black2: #0A0A0A;
  --hyperfly-black2-rgb: 10, 10, 10;
  --hyperfly-black3: #000;
  --hyperfly-black3-rgb: 0, 0, 0;
  --hyperfly-border-color: #EFEFEF;
  --hyperfly-border-color-rgb: 239, 239, 239;
  --hyperfly-letter-space: -0.038em;
  --hyperfly-letter-space-xl: -0.066em;
  --hyperfly-bdr-radius: 7px;
}

$hyperfly-font:var(--hyperfly-font, "Manrope", sans-serif);
$hyperfly-heading-font:var(--hyperfly-heading-font, "Inter", sans-serif);
$hyperfly-text:var(--hyperfly-text, #566879);
$hyperfly-text-rgb:var(--hyperfly-text-rgb, 86, 104, 121);
$hyperfly-text-dark:var(--hyperfly-text-dark, #6e6b70);
$hyperfly-text-dark-rgb:var(--hyperfly-text-dark-rgb, 110, 107, 112);
$hyperfly-base:var(--hyperfly-base, #E11617);
$hyperfly-base-rgb:var(--hyperfly-base-rgb, 225, 22, 23);
$hyperfly-base2:var(--hyperfly-base2, #EB6253);
$hyperfly-base2-rgb:var(--hyperfly-base2-rgb, 235, 98, 83);
$hyperfly-gray:var(--hyperfly-gray, #F3F4F8);
$hyperfly-gray-rgb:var(--hyperfly-gray-rgb, 243, 244, 248);
$hyperfly-white:var(--hyperfly-white, #fff);
$hyperfly-white-rgb:var(--hyperfly-white-rgb, 255, 255, 255);
$hyperfly-black:var(--hyperfly-black, #030D17);
$hyperfly-black-rgb:var(--hyperfly-black-rgb, 3, 13, 23);
$hyperfly-black2:var(--hyperfly-black2, #0A0A0A);
$hyperfly-black2-rgb:var(--hyperfly-black2-rgb, 10, 10, 10);
$hyperfly-black3:var(--hyperfly-black3, #000);
$hyperfly-black3-rgb:var(--hyperfly-black3-rgb, 0, 0, 0);
$hyperfly-border-color:var(--hyperfly-border-color, #EFEFEF);
$hyperfly-border-color-rgb:var(--hyperfly-border-color-rgb, 239, 239, 239);
$hyperfly-letter-space:var(--hyperfly-letter-space, -0.038em);
$hyperfly-letter-space-xl:var(--hyperfly-letter-space-xl, -0.066em);
$hyperfly-bdr-radius:var(--hyperfly-bdr-radius, 7px);